body {
    font-family: system-ui, sans-serif;
    color: #15213a;
    background: white;
}

main {
    max-width: 760px;
    margin-inline: auto;
    width: 100%;
}

header{
    max-width: 760px;
    margin-inline: auto;
    width: 100%;
}

footer{
    max-width: 760px;
    margin-inline: auto;
    width: 100%;
}

#chat-form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#messages {
    overflow-wrap: break-word;
}